.statistics {
    height: 1060px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(40, 83, 40);
    padding: 30px;
    align-items: center;
}
.stat-box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    gap: 25px

}
.stat-box {
    height: 400px;
    width: 500px;
    background-color: white;
    color: black
}

.stat-button {
    font-size: 18px;
    max-width: 150px;
    padding: 10px;
    align-self: center;
    margin: 20px;
}
