.master {
  background-color: white;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  
}

.headerMaster {
  display: flex;
  width: 100vw;
  height: auto;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding-top: 70px;
}

.header {
  width: 90%;
  height: 500px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../images/helpinghands-6146693.jpg');
  background-size: cover;
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;
  color: #3B4D32;
  font-size: 150px;
  margin-bottom: 30px;
  flex-direction: column;
  padding: 20px;
}

.donateButton {
  /* background-color: #0D47A1; */
  width:90%;
  height: 200px;
  margin-right: 70px;
  display: flex;
  justify-content: flex-end;
}

.donateButton button {
  align-self: flex-end;
  padding: 10px 30px;
  background-color: #004830;
  border-radius: 20px;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

.call {
  margin-top: 150px;
}

@media (max-width:800px){
  .header{
    font-size: 70px;
  }
}