.navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 70px !important;
    justify-content: center;
    align-items: center;
    gap: 200px;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    z-index: 1000;
    position: relative;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    

}


.navbarContainer {
    width: 100vw;
    height: 60px;
    justify-content: center;
    align-items: center;
    gap: 200px;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    z-index: 1000;
    
}

.navbarLogo {
    height: 50px;
}
.navbarLinks {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 50px;
    align-items: center;
    font-size: 17px;
}
.navbarDonateButton {
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #e67e22;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    color: white;
}

.navbarHamburger{
    height: 50px;

}


@media(max-width: 1200px) {
    .navbar {
        gap: 10vw;
        justify-content: flex-start;
        padding-left: 20px;
        padding-right: 20px;
    }
    .navbarLinks {
        gap: 3vw;
    }
}


@media(min-width: 801px) {
    .navbarHamburger{
        display: none;
    }
}

@media(max-width: 800px) {
    .navbar{
        justify-content: space-between; /* This ensures space between the elements */
    }
    .navbarHamburger {
       margin-right: 5px;
        
    }
    .navbarLinks{
        display: none;
    }
}