.organizations {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.masterOrganizations{
  background-color: white;
}

.title {
  width: 100%;
  color: black;
  margin-bottom: 20px;
}

.orgs {
  display: flex;
 
  gap: 20px;
}

.container {
  
  width: 70%;
  display: flex;
  gap: 10px;
  height: 150px;
  color: black;
  border: solid;
  border-radius: 20px;
  margin: 0 auto;
  background-color: #f8efe0;
  border:none;
 
  

}
.iconImg,
.iconDesc,
.iconLink {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
}
.iconDesc{
  overflow: scroll;
}
.iconLink button {
  align-self: flex-end;
  padding: 10px 30px;
  background-color: #E57373;
  border-radius: 20px;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

.sunflowerImage {
  border-radius: 30px;
}

@media (max-width:800px)
{
  .iconDesc{
    overflow: scroll;
    
  }
  .sunflowerImage {
    width:70;
    height: 70;
    
  }
}


